<fieldset>
  <div class="control-group">
    <label class="control-label">Expected ResponseBack</label>
    <div class="controls">
      <input type="text" name="check[expectedResponse]" value="<%= check.getPollerParam('expectedResponse') || '' %>" class="span8" placeholder="Enter expected response that needs to match. Leave blank to disable response matching."/>
    </div>
  </div>
</fieldset>